@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100,700,100italic,300italic,400italic,700italic);
/*
Template Name: Color
Version: 1.2
Author: ThemeintheBox
Author URL: https://www.themeinthebox.com/color-onepage-template-a/
*/
/*************************
*******Typography******
**************************/
body {
  padding-top: 60px;
  background: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #64686d;
  line-height: 26px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  color: #272727;
}
p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
}
a {
  color: #72C05B;
  -webkit-transition: color 400ms, background-color 400ms;
  -moz-transition: color 400ms, background-color 400ms;
  -o-transition: color 400ms, background-color 400ms;
  transition: color 400ms, background-color 400ms;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #72C05B;
}
hr {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #fff;
}

.gradiant {
  background-image: -moz-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
}
.gradiant-horizontal {
  background-image: -moz-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
}
.section-header {
  margin-bottom: 20px;
}
.section-header .section-title {
  margin-bottom: 15px;
  display: block;
  clear: both;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
  font-weight: 400;
  color: #262f32;
  text-transform: uppercase;

}
.section-header p {
    display: block;
  clear: both;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  font-weight: 300;
  color: #fff;
}


.btn {
  border-width: 0;
  border-bottom-width: 3px;
  border-radius: 30px;
}
.btn.btn-primary {
  background: #337ab7;
  border-color: #337ab7;
}
.btn.btn-primary:hover,
.btn.btn-primary:focus {
  background: #337ab7;
}
.column-title {
  margin-top: 0;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
  margin-bottom: 15px;
  position: relative;
}
.column-title:after {
  content: " ";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 40%;
  border-bottom: 1px solid #337ab7;
}
ul.nostyle {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
  display: inline-block;
}
ul.nostyle i {
  color: #72C05B;
}
.scaleIn {
  -webkit-animation-name: scaleIn;
  animation-name: scaleIn;
}
@-webkit-keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
/*************************
*******Header******
**************************/
.navbar.navbar-default {
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
}
.navbar.navbar-default .navbar-toggle {
  margin-top: 32px;
}
.navbar-header .navbar-brand {
  padding:5px 0;
}
.navbar-header .navbar-brand a {
  height: auto;
  display: inline-block;
 
}
#top-header {
  padding: 10px 0;
}

@media only screen and (min-width: 768px) {
  #main-menu.navbar-default {
    background: rgba(255, 255, 255, 0.9);
    -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
  }

  #main-menu.navbar-default .navbar-nav > li.active > a,
  #main-menu.navbar-default .navbar-nav > li.open > a,
  #main-menu.navbar-default .navbar-nav > li:hover > a {
    background: transparent;
  }
  #main-menu.navbar-default .dropdown-menu {
    padding: 0 20px;
    min-width: 220px;
    background-color: rgba(26, 28, 40, 0.9);
    border: 0;
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    background-clip: inherit;
  }
  #main-menu.navbar-default .dropdown-menu > li {
    border-left: 3px solid transparent;
    margin-left: -20px;
    padding-left: 17px;
    -webit-transition: border-color 400ms;
    transition: border-color 400ms;
  }
  #main-menu.navbar-default .dropdown-menu > li > a {
    border-top: 1px solid #404455;
    padding: 15px 0;
    color: #eeeeee;
  }
  #main-menu.navbar-default .dropdown-menu > li:first-child > a {
    border-top: 0;
  }
  #main-menu.navbar-default .dropdown-menu > li.active,
  #main-menu.navbar-default .dropdown-menu > li.open,
  #main-menu.navbar-default .dropdown-menu > li:hover {
    border-left-color: #72C05B;
  }
  #main-menu.navbar-default .dropdown-menu > li.active > a,
  #main-menu.navbar-default .dropdown-menu > li.open > a,
  #main-menu.navbar-default .dropdown-menu > li:hover > a {
    color: #72C05B;
    background-color: transparent;
  }
}
#main-slider {
  overflow: hidden;
}
#main-slider .item {
  height: 558px;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}
#main-slider .slider-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
}
#main-slider .slider-inner h2 {
  /*margin-top: 180px;*/
  margin-top: 170px;
  font-size: 50px;
  line-height: 1;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
}
#main-slider .slider-inner h3 {
  font-size: 50px;
  line-height: 1;
  text-transform: uppercase;
  color: #fff;
}
#main-slider .slider-inner p{
  font-size: 25px;
  line-height: 24px;
  font-weight: 300;

}
#main-slider .slider-inner h2 > span {
  color: #72C05B;
}
#main-slider .slider-inner .btn {
  margin-top: 10px;
}
#main-slider .owl-prev,
#main-slider .owl-next {
  position: absolute;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 30px;
  display: inline-block;
  margin-top: -35px;
  height: 70px;
  width: 70px;
  line-height: 70px;
  text-align: center;
  z-index: 5;
  -webkit-transition: background-color 400ms;
  transition: background-color 400ms;
}
#main-slider .owl-prev:hover,
#main-slider .owl-next:hover {
  background-color: #72C05B;
}
#main-slider .owl-prev {
  left: -35px;
  text-indent: 14px;
}
#main-slider .owl-next {
  right: -35px;
  text-indent: -14px;
}
#bar {
  width: 0%;
  max-width: 100%;
  height: 4px;
  background: #72C05B;
}
#progressBar {
  margin-top: -4px;
  position: relative;
  z-index: 999;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
}
#cta {
  padding: 50px 0;
  background-color: #eeeeee;
}
#cta h2 {
  margin-top: 0;
}
#cta .btn {
  margin-top: 40px;
}
#cta2 {
  background: #242a33;
  background-size: cover;
  color: #fff;
  padding: 70px 0;
  background-image: url(../images/bg-nosotros.jpg);
  position: relative;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#cta2 .btn {
  margin-top: 10px;
}
#cta2 h2 {
  color: #fff;
  font-size: 44px;
  line-height: 1;
}
#cta2 h3 {
  color: #fff;
  font-size: 35px;
  line-height: 1;
}
#cta2 h2 > span {
  color: #72C05B;
}
#cta2 p {
    color: #fff;
}
/*************************
*******Contacto******
**************************/
#contacto {
  padding: 100px 0;
  background: #f5f5f5;
}
#contacto .media.service-box:first-child {
  margin-top: 80px;
}
#services {
  padding: 100px 0 75px;
  text-align: center;
  background-color: #1e5090;
}



/*************************
*******Feature******
**************************/
#features {
  padding: 100px 0;
  background: #f5f5f5;
}
#features .media.service-box:first-child {
  margin-top: 80px;
}
#services {
  padding: 100px 0 75px;
  text-align: center;
  background-color: #1e5090;
}

/*************************
*******Service******
**************************/
#services .features-item {
    margin: 25px 0;
}
#services .features-item .features-icon i {
  font-size: 40px;
  text-align: center;
}
#services .features-item:hover .features-icon i , #services .features-item:hover h3 {
  color: #72C05B ;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}
#services .features-item h3 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 14px;
    color: #111;
    margin: 16px 0 15px; 
    text-align: center;
}

.media.service-box {
  margin: 25px 0;
}
.media.service-box .pull-left {
  margin-right: 20px;
}
.media.service-box .pull-left > i {
  font-size: 24px;
  height: 64px;
  line-height: 64px;
  text-align: center;
  width: 64px;
  color: #72C05B;
  box-shadow: inset 0 0 0 1px #d7d7d7;
  -webkit-box-shadow: inset 0 0 0 1px #d7d7d7;
  transition: background-color 400ms, background-color 400ms;
  position: relative;
  display: block;
  line-height: 60px;
  font-size: 18px;
  transform: translateZ(0px);
}

.media.service-box:hover .pull-left > i {

}
/*************************
*******Portfolio******
**************************/
#portfolio {
  padding: 100px 0;
  background: #f5f5f5;
}
#portfolio .portfolio-filter {
  list-style: none;
  padding: 0;
  margin: 0 0 50px;
  display: inline-block;
}
#portfolio .portfolio-filter > li {
  float: left;
  display: block;
  margin:0 1px;
}
#portfolio .portfolio-filter > li a {
  display: block;
  padding: 7px 15px;
  background: #e5e5e5;
  color: #64686d;
  position: relative;
}
#portfolio .portfolio-filter > li a:hover,
#portfolio .portfolio-filter > li a.active {
  background: #72C05B;
  color: #fff;
}

#portfolio .portfolio-items {
  margin: -15px;
}
#portfolio .portfolio-item {
  width: 33%;
  float: left;
  padding: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}
#portfolio .portfolio-item .portfolio-item-inner {
  position: relative;
}
#portfolio .portfolio-item .portfolio-item-inner .portfolio-info {
  opacity: 0;
  transition: opacity 400ms;
  -webkit-transition: opacity 400ms;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  padding: 10px;
  background: rgba(255, 255, 255, 0.68);
  color: #fff;
      z-index: 999;
}
#portfolio .portfolio-item .portfolio-item-inner .portfolio-info h3 {
  font-size: 16px;
  line-height: 1;
  margin: 0;
  color: #59585b;
  font-weight: 600;
  text-align: center;
  padding-top: 180px;
}
#portfolio .portfolio-item .portfolio-item-inner .portfolio-info .preview {
-moz-transition: all 300ms;
  -o-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  top: 0;
  /*-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";*/
  filter: alpha(opacity=0);
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}
#portfolio .portfolio-item:hover .portfolio-info {
  opacity: 1;
}
#portfolio .portfolio-item:hover .portfolio-item-inner .portfolio-info .preview {
  top: 60px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
/*************************
*******Testimonial******
**************************/
#testimonial {
  background: #333333;
  padding: 100px 0;
  color: #fff;
  text-align: center;
}
#testimonial h4 {
  color: #fff;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: normal;
}
#testimonial small {
  display: block;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.7);
}
#testimonial p {
  font-style: italic;
  font-size: 22px;line-height: 30px;
}
#testimonial .img-thumbnail {
  background: transparent;
}
#testimonial #carousel-testimonial .btns {
    margin-top: 30px;
}
#testimonial #carousel-testimonial .btns a {
  margin:0 2px;
}
/*************************
*******About Us******
**************************/
#about {
  padding: 100px 0;
}


.divider {
  margin-top: 50px;
  margin-bottom: 50px;
  background-image: -moz-linear-gradient(180deg, #ffffff 0%, #e3e3e3 49%, #ffffff 100%);
  background-image: -webkit-linear-gradient(180deg, #ffffff 0%, #e3e3e3 49%, #ffffff 100%);
  background-image: -ms-linear-gradient(180deg, #ffffff 0%, #e3e3e3 49%, #ffffff 100%);
  width: 95%;
  height: 1px;
}
.progress {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #eeeeee;
}
.progress .progress-bar.progress-bar-primary {
  background-image: -moz-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  -webkit-box-shadow: none;
  box-shadow: none;
}

/*************************
*******Contact******
**************************/

#contact-area {
  padding:120px 0;
}

#contact .contact-form {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  margin-top: 50px;
}
#contact .contact-form h3 {
  margin-top: 0;
}
#contact-area label {
  font-weight: 300;
}
#contact-area .form-group input ,#contact-area .form-group textarea {
  border-radius: 0;
  font-size: 13px;
  font-weight: normal;
  color: #888;
}
#contact-area .form-group textarea {
  height: 195px;
}

#contact-area .form-control:focus, #focusedInput {
  border: 1px solid #000;
  box-shadow: none;
}

#contact-area  .btn-send-msg {
  margin-top: 30px;
}
/***********************
********* Footer ******
************************/
#footer {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
  background: #2e2e2e;
}
#footer a {
  color: #fff;
}
#footer a:hover {
  color: #72C05B;
}
#footer ul {
  list-style: none;
  padding: 0;
  margin: 0 -7.5px;
}
#footer ul > li {
  display: inline-block;
  margin: 0 7.5px;
}
@media only screen and (min-width: 768px) {
  #footer .social-icons {
    font-size: 20px;
  }
}
.form-control {
  box-shadow: none;
  -webkit-box-shadow: none;
}
.icono-new {
    background: url(../images/portfolio/ico-nuevo.png) no-repeat 0 0;
    width: 85px;
    height: 85px;
    position: absolute;
    top: 7px;
    right: 0;
    z-index: 111;
}

@media (max-width: 768px){
      .icono-new {
          background: url(../images/portfolio/ico-nuevo-movil.png) no-repeat 0 0;
          width: 40px;
          height: 40px;
      }
}


.producto-destacado {
    width: 29%;
    float: left;
    margin: 0 2% 4% 2%;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.categoriasmacro {
    background: #fff;
    -webkit-box-shadow: 0px 2px 4px 1px rgba(209,209,209,1);
    -moz-box-shadow: 0px 2px 4px 1px rgba(209,209,209,1);
    box-shadow: 0px 2px 4px 1px rgba(209,209,209,1);
}

.catmacro a:hover {
    color: #000;
}

.catmacro {
    padding: 10px 0px;
    font-size: 12pt;
    font-weight: 600;
}


@media (max-width: 480px){
    .producto-destacado {
        width: 80%;
        float: none;
        margin: 0 auto 3%;
    }

    #portfolio .portfolio-item .portfolio-item-inner .portfolio-info h3 {
    font-size: 13px;
    line-height: 1;
    margin: 0;
    color: #59585b;
    font-weight: 600;
    text-align: center;
    padding-top: 18px;
    }
}
#services ul {
  list-style: none;
  padding: 0;
  margin: 0 -7.5px;
  text-transform: uppercase;
  font-size: 20px;
}

#services ul > li {
    display: inline-block;
    margin: 0 7.5px;
}

.img-tarjetas{
    display: inline-block;
    max-width: 100%;
    height: auto;
}

#services a{
  color: white;
}
/*************************
*******PRODUCTOS*****
**************************/

#cta3 {
  background: #242a33;
  background-size: cover;
  color: #fff;
  padding: 70px 0;
  background-image: url(../images/slider/bg-productosn.jpg);

  position: relative;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
   /* color: #fff;
    overflow: hidden;
    padding: 2% 0 5% 0;*/
}

#cta3 h2 {
  color: #fff;
  font-size: 44px;
  line-height: 1;
  text-shadow: -2px 1px 6px rgba(0,0,0,0.70);
}

.category-view .category, .product-hover {
    float: left;
    width: 31%;
    margin: 1%;
    position: relative;
    overflow: hidden;
}

/*----------------------------------------
 Portfolio Area Css
----------------------------------------*/

.pst-content {
  padding-left: 10px;
}

.project-menu {
  margin-bottom: 40px;
  text-align: center;
}

.project-menu li {
  display: inline-block;
}

.project-menu li a {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #444;
  border-radius: 20px;
  color: #444;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  margin: 0 4px;
  padding: 6px 15px;
  text-transform: capitalize;
  transition: all 0.3s ease 0s;
}

.project-menu li a.active, .project-menu li a:hover {
  border-color: #3EC1D5;
  background: #3EC1D5;
  color: #fff;
  text-decoration: none;
}

.single-awesome-portfolio {
  float: left;
  overflow: hidden;
  padding: 15px;
  width: 25%;
  position: relative;
}

.single-awesome-project {
  overflow: hidden;
  margin-bottom: 30px;
}

.first-item {
  margin-bottom: 30px;
}

.awesome-img {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

.awesome-img>a {
  display: block;
  position: relative;
}

.single-awesome-project:hover .awesome-img>a::after {
  opacity: 1;
}

.single-awesome-project:hover .add-actions {
  opacity: 1;
  bottom: 0;
}

.awesome-img>a::after {
  background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0;
  transition: 0.4s;
}

.add-actions {
  background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
  bottom: 30px;
  display: block;
  height: 100%;
  left: 0;
  opacity: 0;
  overflow: hidden;
  padding: 10px 15px;
  position: absolute;
  transition: all 0.4s ease 0s;
  width: 100%;
}

.project-dec {
  display: block;
  height: 100%;
  width: 100%;
}

.project-dec a {
  display: block;
  height: 100%;
  width: 100%;
}

.project-dec h4 {
  margin-bottom: 5px;
}

.project-dec h4:hover {
  color: #fff;
}

.project-dec h4 {
  color: #ddd;
  font-size: 24px;
  margin-top: -45px;
  padding-top: 50%;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
}

.project-dec span {
  color: #ddd;
  font-size: 13px;
}

.project-action-btn {
  display: block;
  height: 100%;
  text-align: center;
  transition: all 1s ease 0s;
  width: 100%;
}

.project-action-btn li {
  display: block;
  height: 100%;
  width: 100%;
}

.project-action-btn li a {
  display: block;
  height: 100%;
  width: 100%;
}

.cat-product-title {
    position: absolute;
    z-index: 999;
    bottom: 0;
    width: 100%;
    margin: 26px auto;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: rgba(255,255,255,0.77);
    text-transform: uppercase;
    /*font-family: 'OpenSans Bold';*/
}

.btnmore {
    background: #0087ca;
    padding: 10px 5px!important;
    display: block!important;
    width: 34%;
    margin: 10% auto;
    color: #fff!important;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    font-size: 8pt!important;
    text-transform: uppercase;
}

.cat-product-title a {
    font-size: 10pt;
    color: #59585b;
    padding: 3%;
    display: block;
}

.btnmore, .product-hover .btnmore {
    margin: 3% auto;
}

/*
.zoom {
    transition: transform .2s; 
}*/
 
.zoom:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2); 
  -webkit-transition: all 600ms ease-in-out;
}

/*************************
*******FIN PRODUCTOS*****
**************************/

/*************************
*******NOTICIAS*****
**************************/

#noticias {
  background: #242a33;
  background-size: cover;
  color: #fff;
  padding: 70px 0;
  background-image: url(../images/slider/banner-noticiasn.jpg);

  position: relative;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
   /* color: #fff;
    overflow: hidden;
    padding: 2% 0 5% 0;*/
}

#noticias h2 {
  color: #fff;
  font-size: 44px;
  line-height: 1;
  text-shadow: -2px 1px 6px rgba(0,0,0,0.70);
}
.cat-noticia-title {
    position: relative;
    z-index: 999;
    bottom: 0;
    width: 100%;
    margin: 26px auto;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: rgba(255,255,255,0.77);
    text-transform: uppercase;
    /*font-family: 'OpenSans Bold';*/
}

h2.cat-noticia-title {
    font-size: 11pt;
    text-align: center;
    text-transform: uppercase;
    padding: 0;
    margin: 5px 0 5px;
    /*font-family: 'OpenSans Bold';*/
    color: #59585b;
}

.cat-noticia-title a {
    /*font-size: 10pt;*/
    color: #59585b;
    padding: 3%;
    display: block;
}
.cat-noticia-title p{
text-align: center;
    font-size: 9pt;
    display: block;
    margin: 0 0 10px 0;
    border-bottom: solid 1px #e6e6e6;
    padding: 0 0 10px 0;
}
label.cat-noticia-subtitle{
    text-align: center;
    font-size: 9pt;
    font-weight: 300;
    display: inline-block;
    margin: 0 0 30px 0;   
    /*padding: 0 0 30px 0;*/
    line-height: 22px;
}

.noticia-intro-cat {
    font-size: 10pt;
    text-align: center;
   /* padding: 0 0 20% 0;*/
}

.read-more-noticia {
    background: #0087ca;
    padding: 6px 5px!important;
    display: block!important;
    width: 34%;
    color: #fff!important;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    font-size: 8pt!important;
    text-align: center;
    position: relative;
    bottom:0%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.noticias{
  width: 31%!important;
}
.intro-noticias-wrap{
      padding: 3%;
}

.clr {
    clear: both;
    height: 0;
    line-height: 0;
    display: block;
    float: none;
    padding: 0;
    margin: 0;
    border: none;
}